body {
  margin: 0;
  font-family: Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  width: 800px;
  margin: auto;
  display: flex;
}

.dark-background {
  background: #1f2937;
}

.primary-text {
  color: #f9faf8;
  font-weight: bolder;
}

.secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

.header {
  display: flex;
  height: 60px;
}

.row {
  display: flex;
}

.header > .content {
  align-items: center;
}

.logo {
  margin-right: auto;
  font-size: 24px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 32px;
}

.hero-image {
  width: 400px;
  max-height: 200px;
  object-fit: cover;
}

.content.hero {
  margin-top: 80px;
  margin-bottom: 80px;
}

.hero .primary-text {
  font-size: 48px;
}

.hero .secondary-text {
  margin: 10px 0px;
}

button {
  background-color: rgb(71, 130, 240);
  color: #e5e7eb;
  padding: 8px 32px;
  border-radius: 8px;
  border: 0;
}

.hero-left {
  padding-right: 20px;
}
